.homepage{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.homepage > h1{
    color: rgb(241, 246, 245);
}
.homepage > h4{
    color: #82C3EC;
}
.homepage > p{
    color: rgb(240, 233, 210);
}

.homepage > button{
    background-color: rgb(130, 195, 236);
    padding: 10px;
    width: 150px;
    border-radius: 10px;
    margin: 40px;
    border: none;
}

.homepage > button:hover{
    background-color: rgb(130, 195, 236, 0.777);
}

.homepage > .questions{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.homepage > .questions > .addQuestion{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.homepage > .questions > .addQuestion > h5 {
    color:rgb(241, 246, 245)
    ;
}
.homepage > .questions > .addQuestion >input {
    padding: 10px;
    margin: 10px;
    width: 20rem;
    border-radius: 10px;
    background: rgb(241, 246, 245);
    border: none;
}
.homepage > .questions > .addQuestion >button {
    background-color: rgb(130, 195, 236);
    padding: 10px;
    width: 150px;
    border-radius: 10px;
    margin: 40px;
    border: none;
}
.homepage > .questions {
    display: flex;
    justify-content: space-between;
}

.showQuestions{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    align-items:center;
    flex-wrap: wrap;
}

.questionPackets{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid;
    background-color: rgb(241, 246, 245);
    padding: 50px;
    width: fit-content;
    height: fit-content;
    border-radius: 10px;
    margin: 10px;
}

.questionPackets:hover{
    background-color: rgb(241, 246, 245, 0.777);
}

